<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CryptoSphere</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/darkmode.css" rel="stylesheet">
</head>
<body>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/media/logo-crypto.png" alt="CryptoSphere-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="@Url.Action("Index", "Stats")">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="@Url.Action("Index", "Sim")">Simulator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="@Url.Action("Index", "Info")">Information Center</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="@Url.Action("Login", "Auth")">Log In</a>
            </li>
            <li class="nav-item" id="register-button">
              <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Register", "Auth")';">Register</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   MAIN CONTENT -->
    <div class="container-fluid" style="margin-top: 80px;">
        <main class="main-content">
            @RenderBody()
        </main>
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   FOOTER -->
    <footer id="footer">
      <div class="footer-content">
        <div class="footer-links">
          <a href="@Url.Action("Index", "Home")">Home</a>
          <a href="@Url.Action("Index", "Info")">Information Center</a>
          <a href="@Url.Action("Index", "Stats")">Statistics</a>
          <a href="@Url.Action("Index", "Sim")">Simulator</a>
        </div>
        <div class="social-icons">
          <p id="contact-txt">Contact</p>
          <a href="#"><img src="~/media/facebook-logo-white.png" alt="Facebook-icon"></a>
          <a href="#"><img src="~/media/X_logo_2023_(white).png" alt="X-icon"></a>
          <a href="#"><img src="~/media/CITYPNG.COMHD-White-Instagram-Round-Logo-Icon-PNG-1600x1200-1.png" alt="Instagram-icon"></a>
          <a href="#"><img src="~/media/linkedin-icon-1024x1024-k39l5ziu.png" alt="LinkedIn-icon"></a>
        </div>
      </div>
      <p id="copyright">© 2024 Qinshift Academy. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/darkmode.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>

